*{
    margin: 0;
    padding: 0;
}
aside{
    width: 450px;
    margin: auto;
    background:  rgba(0,0,0,0.4 );
    padding: 20px 30px;
    box-sizing:  border-box;
    margin-top: 10px;
    border-radius:  7px;/*redondear*/
    
}
h2{
    color: white;
    text-align: center;/*centrar*/
    margin: 0;
    font-size: 30px;/*agrandar letra*/
    margin-bottom: 20px; /*espacio de abajo*/
}
input,textarea{
    width: 100%;/*que ocupe todo el espacio en las textarea*/
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;/*ocupe el tamaño maximo*/
    font-size: 17px;/*tamaño de la texarea */
}
textarea{
    /*tamaños de la tex area cuanto lo agrando o lo achico*/
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
}
#boton{
    background: #31384A;
    color:#fff;
    padding: 20px;

}
#boton:hover{
    cursor: pointer;
}
@media/*es un if*/(max-width:480px){
    form{
        width:100%;
    }
}